<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.BankMapper">
	<insert id="bank_insert" parameterType="com.java.bank.dto.BankDto">
		insert into bank values(bank_num_seq.nextval,#{id},#{name},#{balance})
	</insert>
	<select id="bank_select" parameterType="String" resultType="com.java.bank.dto.BankDto">
		select * from bank where id = #{id}
	</select>
	<update id="bank_update" parameterType="com.java.bank.dto.BankDto">
		update bank
		set balance = #{balance}
		where id = #{id}
	</update>

</mapper>