<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mapper.FileBoardMapper">
	<resultMap type="com.java.fileBoard.dto.FileBoardDto" id="fileBoardDto">
		<result column="BOARD_NUMBER" property="boardNumber"/>
		<result column="WRITER" property="writer"/>
		<result column="SUBJECT" property="subject"/>
		<result column="EMAIL" property="email"/>
		<result column="CONTENT" property="content"/>
		<result column="PASSWORD" property="password"/>
		<result column="WRITE_DATE" property="writeDate"/>
		<result column="READ_COUNT" property="readCount"/>
		<result column="GROUP_NUMBER" property="groupNumber"/>
		<result column="SEQUENCE_NUMBER" property="sequenceNumber"/>
		<result column="SEQUENCE_LEVEL" property="sequenceLevel"/>
		<result column="FILE_NAME" property="fileName"/>
		<result column="PATH" property="path"/>
		<result column="FILE_SIZE" property="fileSize"/>
	</resultMap>


<select id="fileBoard_maxGroup" resultType="int">
		select nvl(max(group_number),0) as max_group_num from board
	</select>
	<update id="fileBoard_update_number" parameterType="java.util.HashMap">
		<![CDATA[
		update board set sequence_number=sequence_number+1 where group_number=#{groupNumber} and sequence_number > #{sequenceNumber}
		]]>
	</update>
	
	<insert id="fileBoard_insert" parameterType="com.java.fileBoard.dto.FileBoardDto">
		insert into board (BOARD_NUMBER, WRITER, SUBJECT, EMAIL, CONTENT, PASSWORD, WRITE_DATE, READ_COUNT, GROUP_NUMBER, SEQUENCE_NUMBER, SEQUENCE_LEVEL) 
		values(board_number_seq.nextval, #{writer}, #{subject}, #{email}, #{content}, #{password}, #{writeDate}, #{readCount}, #{groupNumber}, #{sequenceNumber}, #{sequenceLevel})
	</insert>
	<insert id="fileBoard_insert_file" parameterType="com.java.fileBoard.dto.FileBoardDto">
		insert into board (BOARD_NUMBER, WRITER, SUBJECT, EMAIL, CONTENT, PASSWORD, WRITE_DATE, READ_COUNT, GROUP_NUMBER, SEQUENCE_NUMBER, SEQUENCE_LEVEL,FILE_NAME,PATH,FILE_SIZE) 
		values(board_number_seq.nextval, #{writer}, #{subject}, #{email}, #{content}, #{password}, #{writeDate}, #{readCount}, #{groupNumber}, #{sequenceNumber}, #{sequenceLevel},#{fileName},#{path},#{fileSize})
	</insert>
	
	 
	 
</mapper>

