<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dto.memberDto">
	<resultMap type="com.java.member.dto.MemberDto" id="member_dto">
		<result column="num" property="num"/>
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="jumin1" property="jumin1"/>
		<result column="jumin2" property="jumin2"/>
		<result column="email" property="email"/>
		<result column="zipcode" property="zipcode"/>
		<result column="address" property="address"/>
		<result column="job" property="job"/>
		<result column="mailing" property="mailing"/>
		<result column="interest" property="interest"/>
		<result column="member_level" property="memberLevel"/>
		<result column="register_date" property="registerDate"/>
		
	</resultMap>
	
	<resultMap type="String" id="member_level">
		<result column="member_level" property="memberLevel"/>
	</resultMap>
	
	

	<insert id="member_insert" parameterType="com.java.member.dto.MemberDto">
		Insert into member
		values(
			member_num_seq.nextval,
			#{id},
			#{password},
			#{name},
			#{jumin1},
			#{jumin2},
			#{email},
			#{zipcode},
			#{address},
			#{job},
			#{mailing},
			#{interest},
			#{memberLevel},
			sysdate
		)
	</insert>
	<select id="member_select_login" parameterType="Map" resultMap="member_level">
		select member_level,id 
		from member
		where id= #{id} and password=#{password}
	</select>
	<select id="member_select" parameterType="String" resultMap="member_dto">
		select *
		from member
		where id= #{id}
	</select>
	<select id="member_id" parameterType="String" resultType="String">
		select id
		from member
		where id = #{id}
	</select>
	
	<delete id="member_delete" parameterType="Map" >
		Delete from member
		where id= #{id} and password=#{password}
	</delete>
	
	<update id="member_update" parameterType="com.java.member.dto.MemberDto">
		update member
		set password = #{password},
		 email = #{email},
		 zipcode= #{zipcode},
		 address= #{address},
		 job= #{job},
		 mailing = #{mailing},
		 interest= #{interest}
		where id = #{id}
	</update>
</mapper>